# Ignore bytecode files
__pycache__/
*.pyc

# Ignore contenido de las carpetas
temp_uploads/*
temp_clips/*
bin/*
data/*
output/*
prompts/*
src/*

# Ignore system files
.DS_Store
Thumbs.db
exam.py
.venv/
ffmpeg.exe
ffmpeg.zip
requirements_v2.txt
requirements_copia_original.txt